body{
    background-color: #0d1117 
}
@media (max-width: 728px){
    .barra{
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }
    .titulos{
        flex-direction: column;
        gap: 5px;
        text-align: center;
        font-size: 16px;
    }
    .botoes{
        width: 100%;
        justify-content: center;
    }
    h1{
        padding-top: 140px;
    }
}
.barra{
    color: white;
    background-color: rgb(19, 19, 19);
    padding: 5px 10px;        
    display: flex;             
    justify-content: space-between; 
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.barra h2{
    font-family: 'Impact', sans-serif;
    letter-spacing: 1px;
}
.link{
    background-color: rgb(7, 148, 214);
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px ;
    transition: 0.5s;
}
.link:hover{
    background-color: rgb(10, 98, 197);
}
.git{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px ;
    transition: 0.5s;
}
.git:hover{
    background-color: rgb(14, 14, 14);
}
.botoes{
    display: flex;
    gap: 10px;
}
.titulos{
    display: flex;
    gap: 40px;
    font-size: 20px;
}
.logo{
    height: 20px;
}
h1{
    color: rgb(167, 208, 255);
    font-family: Verdana, sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 70px;
    margin: 10px;
}
main, footer, .contat{
    max-width: 900px;
    margin: 0 auto;
}
h2, h3{
    color: rgb(167, 208, 255);
}
p{
    color: white;
    font-size: 16.5px;
    font-weight: bold;
}
ul{
    color: white;
    font-weight: bold;
    list-style:circle;
}
footer{
    background-color: #161b22;
    border-radius: 10px;
    padding: 10px 20px;
}
h2{
    margin: 30px;
}
.lista{
    padding-bottom: 30px;
}
